h1{
    font-family: fantasy;
    margin-left: 920px;
    
}

.meu_nome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 900px;
    }
.links{
    margin-left: 700px;
}