.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 40px;
    height: 50px;
    width: 30%;
    padding: 50px
}

.smallcard-container > img {
    width: 30px;
    margin-right: 20px;
    
}

.smallcard-container h4 {
    margin-bottom: 15px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}